@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

body {
  background-color: #f9fafa;
  font-family: "Roboto", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}
.main__container {
  height: 600px;
  width: 250px;
  background-color: white;
  border-radius: 26px;
}
.navbar {
  position: fixed;
}
.bizbud-text {
  color: #16163f;
  font-size: 26px;
  font-weight: 700;
}
