@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
}
.header__container-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.2);
}

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 50px;
  height: 75px;
  z-index: 999;
}

.navbar__leftside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  height: 25px;
}

.wix__icon__container {
  height: 100%;
}

.wix__icon__container a img {
  height: 100%;
}

.navbar__icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.desktop__icon__btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: 100;
}
.mobile__icon__btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.navbar__btn__hr {
  height: 100%;
  width: 1px;
  background-color: grey;
  transform: rotate(180deg);
}
.navbar__rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-left: 50px;
  white-space: nowrap;
}
.editsite__btn {
  text-decoration: none;
  color: white;
  background-color: #136DFC;
  border-radius: 20px;
  padding: 10px 20px;
}
.readmore__btn {
  color: black;
}
.test {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  background-color: red;
}
.header__botrow__container{
  box-shadow: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 0px 50px;
  position: fixed;
  top: 75px; 
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  transition: border-bottom 0.3s ease;
}
.bizbud-text{
  color: #16163F;
  font-size: 26px;
  font-weight: 700;
}
.mid__nav > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.mid__nav li{
  padding: 0px 20px;
}
.mid__nav a {
  text-decoration: none;
  color: #16163F;
}
.callnow__btn{
  color: white;
  background-color:#9E3FFC;
  border-radius: 20px;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
}
.header__botrow__scrolled {
  border-bottom: 1px solid black;
}
section{
  margin-top: 175px;
}
.home-page {
  position: relative;
  height: 100vh;
  background-image: url(./images/homepage\ background.webp);
}

.text__container{
  position: relative;
  left: 150px;
  width: max-content;
}
.good-advice-text{
  font-size: 90px;
  color: #16163F;
  font-weight: 700;
}
.text__container  p {
  font-size: 24px;
  line-height: 1.6em;
  color: #16163F;
  margin-top: 15px;
}