@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}
.header__container-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.2);
}

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 18px 0 rgba(129, 162, 182, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 50px;
  height: 75px;
  z-index: 999;
}

.navbar__leftside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  height: 25px;
}

.wix__icon__container {
  height: 100%;
}

.wix__icon__container a img {
  height: 100%;
}

.navbar__icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.desktop__icon__btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: 100;
}
.mobile__icon__btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.navbar__btn__hr {
  height: 100%;
  width: 1px;
  background-color: grey;
  transform: rotate(180deg);
}
.navbar__rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-left: 50px;
  white-space: nowrap;
}
.editsite__btn {
  text-decoration: none;
  color: white;
  background-color: #136dfc;
  border-radius: 20px;
  padding: 10px 20px;
}
.readmore__btn {
  color: black;
}
.test {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  background-color: red;
}
.header__botrow__container {
  box-shadow: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 75px;
  padding: 0px 50px;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  transition: border-bottom 0.3s ease;
}
.bizbud-text {
  color: #16163f;
  font-size: 26px;
  font-weight: 700;
}
.mid__nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.mid__nav li {
  padding: 0px 20px;
}
.mid__nav a {
  text-decoration: none;
  color: #16163f;
}
.callnow__btn {
  color: white;
  background-color: #9e3ffc;
  border-radius: 20px;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
}
.header__botrow__scrolled {
  border-bottom: 1px solid black;
}
section {
  margin-top: 175px;
}
.home-page {
  position: relative;
  height: 130vh;
  min-height: 100%;
  background-image: url(./images/homepage\ background.webp);
  background-attachment: fixed;
  background-size: cover;
}

.text__container {
  position: relative;
  left: 150px;
  width: max-content;
}
.good-advice-text {
  font-size: 90px;
  color: #16163f;
  font-weight: 700;
}
.text__container p {
  font-size: 24px;
  line-height: 1.6em;
  color: #16163f;
  margin-top: 15px;
  text-align: left;
}
.learnmore__btn {
  color: white;
  background-color: #9e3ffc;
  border-radius: 20px;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  margin-top: 25px;
}
.serviceWrapperScript {
  background-color: white;
  height: 100vh;
}
.service-page {
  position: relative;
  background-color: white;
  background-attachment: fixed;
}
.services-topwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__toprow p {
  color: #9e3ffc;
  font-size: 16px;
  font-weight: 700;
  margin-top: 118px;
  letter-spacing: 1px;
}
.services__botrow p {
  font-size: 36px;
  color: #16163f;
  text-align: center;
  font-weight: 700;
}
.services-botwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 350px;
}
.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card1 h3,
p,
.card2 h3,
p,
.card3 h3,
p {
  text-align: center;
}
.svg-wrapper {
  width: 150px;
  height: 150px;
}
.circles {
  width: 100%;
  height: 100%;
}
.ticks {
  height: 100%;
  width: 100%;
}
.dark-purple {
  fill: #6a0dad;
}

.light-purple {
  fill: #a84bc6;
}
.services__footer {
  height: 500px;
  background-color: #16163f;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.sf_header_container {
  color: white;
  text-align: center;
  font-size: 26px;
  margin-top: 100px;
  height: max-content;
}
.stats__container {
  margin: 30px auto 0px auto;
}
.stats__container ul {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 175px;
  list-style-type: none;
  font-weight: 700;
}
.stats__container ul li {
  font-size: 14px;
}
.stats__container ul li.large-number {
  font-size: 66px;
}
.stats__container__text {
  margin: 10px auto 0px auto;
}
.stats__container__text ul {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 140px;
  list-style-type: none;
  font-weight: 400;
}
.about-page {
  height: 100vh;
  display: flex;
  background-color: #fff;
}
.about-page__leftside,
.about-page__rightside {
  width: 50vw;
}
.rightside__imgcontainer {
  width: 100%;
  height: 100vh;
}
.rightside__imgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
}
.about-page__leftside {
  padding: 35px;
}
.toprow__about {
  color: #9e3ffc;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  letter-spacing: 1px;
}
.carousel {
  background-color: #9e3ffc;
  height: 80vh;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  list-style: none;
}

.carousel-indicators .active {
  background-color: #ffffff;
}
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-item.active {
  display: block;
}

.carousel-content {
  text-align: center;
  color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.clients__container {
  height: 300px;
  background-color: #f8f0ff;
}
.clients__toprow {
  border-bottom: 1px solid white;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1px;
}
.clients__botrow {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
